body{
    font: 100%/1.5 "Georgia", Arial, Helvetica;
    max-width: 100%;
    margin: 3.75% auto;
    background-color: #7190b3;

}

#wrapper{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    opacity: .97;
}


#topContent{
    background: url("../images/logodrumming.png") no-repeat .5% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    clear: both;
}


header{
    width: 80%;
    margin: 3% auto;
    padding-right: 16%;
}


header>#logo{
    width: 100%;
    margin: 1% auto;
}


nav ul>li{
    display: inline;
    float: left;
    margin-bottom: 1%;

}



#bionav:hover{
    transform:skew(5deg,5deg);
}

#videoseriesnav:hover{
    transform:skew(5deg,5deg);
}

#latestvideonav:hover{
    transform:skew(5deg,5deg);
}

#newsletternav:hover{
    transform:skew(5deg,5deg);
}


#intro{
    width: 100%;
    margin: 1% auto;
    clear: both;
}


p[class="intro"]{
    width: 45%;
    font-size: 1em;
    float: left;
    overflow: auto;
    color: #ffffff;
}


#intro>table{
    width: 45%;
    float: right;
    margin: 0 auto;
    padding: 0 15% 7.3% 5%;
    color: white;
}






#mainContent{
    position: relative;
    width: 100%;
    clear: both;
}


#first{
    float: left;
    width: 33%;
}

#second{
    float: left;
    width: 33%;

}

#third{
    float: left;
    width: 33%;
}

#aboutus{
    clear: both;
}







#logo, #original, #cover, #vlog, div.img{
    width: 63.666%;
    float: left;
    margin: 0 auto;
    padding: 2% 2% 2% 4%;
}


#logo img, #original img, #cover img, #vlog img, div.img img{
    max-width: 100%;
}


#bionav, #videoseriesnav, #latestvideonav{
    width: 90%;
}

#bionav img, #videoseriesnav img, #latestvideonav img{
    max-width: 100%;
}







#youtube{
    position: relative;
    padding-bottom: 56.25%;   /*16:9*/
    padding-top: 25px;
    height: 0;
    clear: both;
    overflow: auto;
}

#youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}








p{
    margin: 1% 2% 5% 4%;
    padding: 0 2% 4% 2%;
    font-size: 1em;
}

#photoGallery{
    width: 100%;
}

div.img{
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img{
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
    max-width: 100%;
}


#contactMe{
    float: left;
    clear: both;
}







/* form styling */


form{
    width: 100%;
    margin: 2% auto;
    font-size: 1em;
    text-align: left;
    background: linear-gradient(#7190b3,black);
    color: white;
}


#formWrap{
    position: relative;
    width: 100%;
}

fieldset{
    border: 3px solid black;
}


.button{
    background-color: lightskyblue;
    transition-property: background;
    transition-duration: 1s;
    width: 40%;
    border-radius: 100%;
}

.button:hover {
    background-color: black;
    color: #ffffff;
}

.button:active{
    transform:scale(1.1);
}





/* join now button*/

#joinNow{
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: transparent;
  transition: background-color .5s ease-in;
}

#joinNow:hover{
    background-color: white;
    transform:skew(10deg,10deg) rotateZ(30deg);
}







/* this is the foot design to get it over from the left a little bit */

footer{
   margin: 2% auto;
   padding-left: 11%;
}





/* this is the three media screen sizes and styling */

/*

@media screen and (min-width: 801px){
    header{
       width: 66.66666667%;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }

}

@media screen and (min-width: 481px) and (max-width: 800px){
    header{
        width: 50%;
        font-size: 1.3em;
    }
    h2{
        font-size: 1em;
    }
    p{
        font-size: .6em;
    }
    #calender{
        padding-top: 70px;
        left: 10%;
    }
    #submit{
        padding-top: 90px;
    }
    form{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    header{
        display: none;
    }
    #rockclimbing img{
        display: none;
    }
    #whitewater img{
        display: none;
    }
    #skydiving img{
        display: none;
    }
    body{
        background-image: none;
    }
    #joinNow img{
        display: none;
    }
    #calender{
        padding-top: 70px;
        left: 10%;
    }
    #submit{
        padding-top: 90px;
    }
    form{
        width: 100%;
    }
    h2{
        font-size: .9em;
    }
}

*/